


<!--

<select multiple="multiple" id="follow-select" class="image-picker user-image-picker show-html">
  <%= @users.each do |user|%>
  <option data-img-src="<%= user.image_url %>" value="<%= user.id %>"> <%= "#{user.first_name} #{user.last_name}" %></option>
  <% end %>

</select> -->


<div class="user-cards">
  <% @users.each do |user|%>
      <% if user.id != current_user.id %>
      <div class="card" id=<%= user.id.to_s %>>
        <!-- Header -->
        <div class="card-header">
          <div class="card-header__avatar">
            <img src=<%= user.image_url + "?type=large" %> >
          </div>
          <div class="follow-button">

              <% if current_user.following.pluck(:user_id).include? user.id %>
                <a href="#" class="card-header__follow" data-id=<%= user.id.to_s %>>Unfollow</a>
              <% else %>
                <a href="#" class="card-header__follow" data-id=<%= user.id.to_s %>>Follow</a>
              <% end %>
            </div>
        </div>
        <!-- Content-->
        <div class="card-content">
          <div class="card-content__username"><%= user.first_name + " " + user.last_name %></div>
          <!-- <div class="card-content__bio">Demo or it didn't happen.</div> -->
        </div>
        <!-- Footer-->
        <div class="card-footer">
          <div class="card-footer__videos"> <span><%= user.videos.count %></span>
            <div class="label">Videos</div>
          </div>
          <div class="card-footer__followers"> <span><%= user.followers.count %></span>
            <div class="label">Followers</div>
          </div>
          <div class="card-footer__following"> <span><%= user.following.count %></span>
            <div class="label">Following</div>
          </div>
        </div>

      </div>
    <% end %>
  <% end %>

</div>
