

<div class="user-profile">
      <img src=<%= @user.image_url + "?type=large" %> class="user-profile-main-pic">
    <h2> <%= @user.first_name + " " + @user.last_name %> </h2>





    <div class="profile-thumbnail-tabs">

      <!-- Nav tabs -->
      <ul class="nav nav-pills nav-justified" role="tablist">
        <li role="presentation" class="active"><a href="#shared" aria-controls="share" role="tab" data-toggle="tab">
          Shared</a>
        </li>
        <li role="presentation"><a href="#recommended" aria-controls="recommended" role="tab" data-toggle="tab">
          Recommended</a>
        </li>

      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="shared">
          <ul class="thumbnail-list">
            <% @user_shared_videos.each do |video| %>
              <li class="thumbnail-list-item"><img src="http://img.youtube.com/vi/<%= video.youtube_id%>/mqdefault.jpg" class="video-thumbnail">
                <div class="video-thumbnail-info"<h4 class="video-thumbnail-name"><%= video.name %></h4>
                </div>
              </li>
            <% end %>
          </ul>
        </div>


        <div role="tabpanel" class="tab-pane fade" id="recommended">
          <ul class="thumbnail-list">
            <% @user_recommended_videos.each do |video| %>
              <li class="thumbnail-list-item"><img src="http://img.youtube.com/vi/<%= video.youtube_id%>/mqdefault.jpg" class="video-thumbnail">
                <div class="video-thumbnail-info"<h4 class="video-thumbnail-name"><%= video.name %></h4>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
</div>
