

<div class="user-profile" id=<%= @user.id.to_s %>>
    <div class="user-profile-pic-container">
      <img src=<%= @user.image_url + "?width=150&height=150" %> class="user-profile-main-pic">
    </div>


    <div class="follow-button">
      <% if !(current_user.id == @user.id) %>
        <% if current_user.following.pluck(:user_id).include?(@user.id) %>

          <span class="card-header__follow" data-id=<%= @user.id.to_s %> data-type='unfollow'>Unfollow</span>
        <% else %>
          <span class="card-header__follow follow" data-id=<%= @user.id.to_s %> data-type='follow'>Follow</span>
        <% end %>

      <% end %>
    </div>

    <h2> <%= @user.first_name + " " + @user.last_name %> </h2>


    <div class="user-profile-metrics">
      <div class="card-footer__videos"> <span><%= @user.videos.count %></span>
        <div class="label">Videos</div>
      </div>
      <div class="card-footer__followers"> <span><%= @user.followers.count %></span>
        <div class="label">Followers</div>
      </div>
      <div class="card-footer__following"> <span><%= @user.following.count %></span>
        <div class="label">Following</div>
      </div>
    </div>


    <div class="profile-thumbnail-tabs">

      <!-- Nav tabs -->
      <ul class="nav nav-pills nav-justified" role="tablist">
        <li role="presentation" class="active"><a href="#shared" aria-controls="share" role="tab" data-toggle="tab">
          Shared</a>
        </li>
        <li role="presentation"><a href="#recommended" aria-controls="recommended" role="tab" data-toggle="tab">
          Recommended</a>
        </li>

      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="shared">
          <ul class="thumbnail-list">
            <% @user_shared_videos.each do |video| %>

                <li class="thumbnail-list-item">
                  <a href="/videos/<%= video.id%>">
                    <div class="video-thumbnail">
                      <img src="http://img.youtube.com/vi/<%= video.youtube_id%>/mqdefault.jpg" >
                    </div>
                  </a>
                  <div class="video-thumbnail-info video-list">
                    <a href="/videos/<%= video.id%>">
                      <h4 class="video-thumbnail-name"><%= video.name %></h4>
                    </a>
                    <span class="rating-count">
                      <i class="material-icons ">favorite</i>
                      <p class="likes-count"><%= video.reactions.only_likes.count %></p>
                    </span>


                  </div>
                </li>

            <% end %>
          </ul>
        </div>


        <div role="tabpanel" class="tab-pane fade" id="recommended">
          <ul class="thumbnail-list">
            <% @user_recommended_videos.each do |video| %>


            <li class="thumbnail-list-item">
              <a href="/videos/<%= video.id%>">
                <div class="video-thumbnail">
                  <img src="http://img.youtube.com/vi/<%= video.youtube_id%>/mqdefault.jpg" >
                </div>
              </a>
              <div class="video-thumbnail-info video-list">
                <a href="/videos/<%= video.id%>">
                  <h4 class="video-thumbnail-name"><%= video.name %></h4>
                </a>
                <span class="rating-count">
                  <i class="material-icons ">favorite</i>
                  <p class="likes-count"><%= video.reactions.only_likes.count %></p>
                </span>


              </div>
            </li>

            <% end %>
          </ul>
        </div>
      </div>
    </div>
</div>
