<div class="add-container">
<h1>Share a video that you love.</h1>

<p class="caveat"> Please make sure to share only videos that think others would recieve value from watching. Note: only Youtube videos allowed for the moment.</p>


<%= form_tag("/videos", method: "post") do %>

  <h3> Video URL </h3>
  <div class="new-video-link-input">
    <!-- <%= label_tag(:url, "Video URL") %> -->
    <%= text_field(:video, :url, placeholder: "Add your video link here", class: "add-input") %>
  </div>



  <!-- <%= select_tag 'categories', options_for_select(@categories.collect{ |u| [u.name, u.id] }) %> -->
  <h3> Video Categories </h3>
  <p> Select the categories that best describe your video: </p>

  <div class="add-categories material-icons">

    <select multiple="multiple" id="category-video-image-picker" name="categories[]" class="image-picker category-image-picker show-html">

      <%= @categories.each do |category|%>
      <option data-img-src="<%= category.category_image.url(:medium) %>" value="<%= category.id %>"> <%= category.name %></option>
      <% end %>


    </select>

  </div>


  <%= submit_tag("Share Video", :class => "qush-button") %>
<% end %>

<!-- <%= link_to 'Back', videos_path %> -->

</div>
