<h1>Share an amazing video:</h1>


<%= form_tag("/videos", method: "post") do %>
  <%= label_tag(:url, "Video URL") %>
  <%= text_field(:video, :url, size: 20) %>




  <!-- <%= select_tag 'categories', options_for_select(@categories.collect{ |u| [u.name, u.id] }) %> -->
  <p> Please select the categories which describe the video so that others can find it: </p>

  <select multiple="multiple" id="category-video-image-picker" name="categories[]" class="image-picker category-image-picker show-html">

    <%= @categories.each do |category|%>
    <option data-img-src="<%= category.category_image.url %>" value="<%= category.id %>"> <%= category.name %></option>
    <% end %>


  </select>


  <%= submit_tag("Add") %>
<% end %>

<%= link_to 'Back', videos_path %>
