



<div class="container" id="video-show-div">

  <div class = "video-title-container">
    <h2 class="video-name"><%= @video.name %></h2>
    <!-- <p class="recommended">Recommended because you follow: </p> -->
      <ul class="video-categories-list">
      <% @video.categories.each do |category|%>
        <li class="video-list-item">
          <span class="video-categories"><%= category.name %></span>
        </li>
      <% end%>
      </ul>
  </div>

  <div class="video-container">
    <div class="video-main">
       <div id="player"></div>
    </div>
  </div>


    <div class="reactions-container">
      <a href="#" data-toggle="modal" data-target="#reactionModal" class ="category-modal-nav button-disable">
      <i class="material-icons">thumb_up</i></a>
      <span class="rating-count"> <%= @video.reactions.where("rating > ?", 0).count %></span>
      <i class="material-icons">thumb_down</i>
    </div>

    <div class="recommendations-container">
      <h5> <%= @video.user.name %> shared this video </h5>


      <div class="past-reactions-container">

        <% @video.reactions.each do |reaction| %>

        <div class="reaction"><img src=<%= reaction.user.image_url + "?type=small" %> class="user-reaction-image" >
          <%= reaction.user.name %>: <%= reaction.rating %> watch because
            <%= reaction.why_watch %>

        </div>
        <% end %>
      </div>



        <%= render :partial => "reaction_modal" %>





    </div>





  <%= render :partial => "videos/video_show_view_js" %>



</div>
