

<% content_for :head do %>
     <%= display_meta_tags %>
<% end %>


<div class="container" id="video-show-div">

  <div class = "video-title-container">
    <h2 class="video-name"><%= @video.name %></h2>
    <!-- <p class="recommended">Recommended because you follow: </p> -->
      <ul class="video-categories-list">
      <% @video.categories.each do |category|%>
        <li class="video-list-item">
          <span class="video-categories"><%= category.name %></span>
        </li>
      <% end%>
      </ul>
  </div>

  <div class="video-container">
    <div class="video-main">
       <div id="player"></div>
    </div>
  </div>



    <div class="reactions-container">

        <a href="#" data-toggle="modal" data-target="#reactionUpModal" class ="category-modal-nav button-disable">
            <% if current_user %>
              <button class="<%= @video.liked_by?(current_user.id) ? "qush-button-reaction-liked" : "qush-button-reaction" %>" >
            <% else  %>
              <button class="qush-button-reaction" >
            <% end %>
            <i class="material-icons reaction-icons">favorite</i>
            <!-- <%= image_tag('qush-icon.png', alt: "qush-icon", :class => "qush-favorite-icon") %> -->
            <span class="rating-count"> <%= @video.reactions.only_likes.count %></span>

          </button>
        </a>


    </div>




    <div class="recommendations-container">

        <div class="recommendation-column">

          <div class="reaction">
            <%= link_to(@video.user) do %>
                <img src=<%= @video.user.image_url + "?type=small" %> class="user-reaction-image" >
                <p> <%= @video.user.name %></p>
            <% end %>
               <p> shared this video.</p>
          </div>

          <div class="past-reactions-container">

            <% @video.non_empty_reactions.each do |reaction| %>


               <% if reaction["rating"] == 1 %>

                <div class="reaction">
                     <%= link_to(reaction.user) do %>
                       <div class="video-reaction-components">
                         <img src=<%= reaction.user.image_url + "?type=small" %> class="user-reaction-image" >
                       </div>
                     <% end %>

                     <div class="video-reaction-components">
                       <%= link_to(reaction.user) do %>
                        <p> <%= reaction.user.name %>: </p>
                       <% end%>
                       <p> <%= reaction.why_watch %> </p>
                     </div>
                </div>

               <% end %>
            <% end %>
          </div>
      </div>
    </div>




      <% if current_user %>

        <%= render :partial => "reaction_up_modal" %>
        <%= render :partial => "reaction_down_modal" %>
      <% end %>


      <%= render :partial => "videos/video_show_view_js" %>

</div>
