

<!-- <div style="position: fixed; z-index: -99; width: 100%; height: 100%">
  <iframe frameborder="0" height="100%" width="100%"
    src="https://youtube.com/embed/j2oXFWKpJiA?autoplay=1&controls=0&showinfo=0&autohide=1&loop=1">
  </iframe>
</div> -->







<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'login' %>

  </head>
  <body>
    <div id="gradient2">
      <div class="login-container">
        <%= image_tag('qush-logo-white.png', alt: "Logo", :class => "qush-login-logo") %>
        <h1>Share & find great videos recommended by friends</h1>
        <span class="fb-login"><%= link_to image_tag("facebook-login.png"), '/auth/facebook'%></span>
      </div>
    </div>
 </body>
</html>
