<div class="category-header">

<h2>

  <%= @category.name %>
</h2>

</div>
  <!-- <%= image_tag @category.category_image(:medium) %> -->

<div class="category-videos">
  <ul class="thumbnail-list">
    <% @category.videos.each do |video| %>
      <a href="/videos/<%= video.id%>">
        <li class="thumbnail-list-item"><img src="http://img.youtube.com/vi/<%= video.youtube_id%>/mqdefault.jpg" class="video-thumbnail">
          <div class="video-thumbnail-info"<h4 class="video-thumbnail-name"><%= video.name %></h4>
          </div>
        </li>
      </a>
    <% end %>
  </ul>
</div>
