<div class="category-header">

<h2>

  <%= @category.name %>
</h2>

</div>
  <!-- <%= image_tag @category.category_image(:medium) %> -->

<div class="category-videos">
  <ul class="thumbnail-list">
    <% @videos.each do |video| %>


    <li class="thumbnail-list-item">
      <a href="/videos/<%= video.id%>">
        <div class="video-thumbnail">
          <img src="http://img.youtube.com/vi/<%= video.youtube_id%>/mqdefault.jpg" >
        </div>
      </a>
      <div class="video-thumbnail-info video-list">
        <a href="/videos/<%= video.id%>">
          <h4 class="video-thumbnail-name"><%= video.name %></h4>
        </a>
        <span class="rating-count">
          <i class="material-icons ">favorite</i>
          <p class="likes-count"><%= video.reactions.only_likes.count %></p>
        </span>


      </div>
    </li>



    <% end %>
  </ul>
</div>
