<!DOCTYPE html>
<html>
  <head>
    <title>qush.io</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet"> -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,200' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <nav class="navbar navbar-default">
        <!-- container was here -->
      <div class="col-sm-3">
        <% if current_user %>
          <div class="navbar-header center-nav-contents nav-actions">


            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>




            <a href="#" data-toggle="modal" data-target="#myModal" class ="category-modal-nav button-disable" ><i class="material-icons nav-action-icon" data-toggle="tooltip" data-placement="bottom" title="Set your categories">view_module</i></a>
            <!-- <%= link_to next_videos_path do %><i class="material-icons nav-action-icon">gesture</i><% end %> -->
            <%= link_to new_video_path, :data => {:toggle => "tooltip", :placement => "bottom"},
              :title => "Add a video" do %>
            <i class="material-icons nav-action-icon">add</i>
            <% end %>


          </div>
        <% end %>
      </div>


        <div class="col-sm-6 center-nav-content">

            <%= link_to image_tag('qush-logo-light2.png', alt: "Logo",
                    :class => "logo-header",
                    :data => {:toggle => "tooltip", :placement => "bottom"},
                    :title => "Next video"  ), next_videos_path %>

        </div>

      <div class="col-sm-3">



            <% if current_user %>

            <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">

              <div id="navbar" class="navbar-mobile-dropdown">


              <ul class="nav navbar-nav pull-right">
                <li class="user-name hidden-xs">Hi, <%= current_user.first_name %></li>


                <li class="dropdown hidden-xs">
                  <a id="dLabel" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <%= image_tag current_user.image_url, alt: current_user.first_name, :class => "user-profile-pic"  %>
                  </a>

                  <ul class="dropdown-menu centerDropdown" aria-labelledby="dropdownMenu1">

                     <li><%= link_to 'Just watch ', next_videos_path, method: :get %></li>
                     <li><a href="/users/<%= current_user.id%>">My profile</a></li>

                     <li><%= link_to 'Browse', category_all_path, method: :get %></li>
                     <li><%= link_to 'People', follows_path, method: :get %></li>
                     <li><a href="#" data-toggle="modal" data-target="#myModal" class ="category-modal-nav button-disable">Set Categories</a></li>

                      <li><%= link_to 'Share a video', new_video_path, method: :get %></li>
                     <li role="separator" class="divider"></li>
                     <li><%= link_to 'Log out', logout_path, method: :delete %></li>
                  </ul>

                </li>

                <li class="hidden-sm hidden-md hidden-lg"><%= link_to 'Just watch ', next_videos_path, method: :get %></li>
                <li class="hidden-sm hidden-md hidden-lg"><a href="/users/<%= current_user.id%>">My profile</a></li>
                <li class="hidden-sm hidden-md hidden-lg"><%= link_to 'Browse', category_all_path, method: :get %></li>
                            <li class="hidden-sm hidden-md hidden-lg"><%= link_to 'People', follows_path, method: :get %></li>
                <li class="hidden-sm hidden-md hidden-lg"><a href="#" data-toggle="modal" data-target="#myModal" class ="category-modal-nav button-disable">Categories</a></li>
                <li class="hidden-sm hidden-md hidden-lg"><%= link_to 'Share a video', new_video_path, method: :get %></li>
                <li class="hidden-sm hidden-md hidden-lg" role="separator" class="divider"></li>
                <li class="hidden-sm hidden-md hidden-lg"><%= link_to 'Log out', logout_path, method: :delete %></li>


              </ul>


              </div>
            </div>

            <% else %>

            <div class="nav-joinus-link">
                <%= link_to'Join our community!', login_path, method: :get %>
            </div>

            <% end %>

            <!-- <ul class="nav navbar-nav">

            </ul> -->

      </div>
    </nav>

    <div>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>

      <%= yield %>
    </div>




    <%= render :partial => "/layouts/categories_modal" %>

  </body>
</html>
